<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
{% verbatim %}
<div class="container pt-4" id="element">
    <div class="row">
        <div class="col col-2">
            <ul class="list-group text-center">
                <button type="button" onclick="window.location.href = 'http://127.0.0.1:8000/';"
                        class="list-group-item list-group-item-action">
                    Главная (перезагружает страницу)
                </button>
                <button v-on:click="getArticleList" type="button" class="list-group-item list-group-item-action">
                    Список статей
                </button>
                <button v-on:click="getAuthorList" type="button" class="list-group-item list-group-item-action">
                    Список авторов
                </button>
                <button v-on:click="postNewArticle" type="button" class="list-group-item list-group-item-action">
                    Добавить статью
                </button>
                <button type="button" onclick="window.location.href = 'http://127.0.0.1:8000/admin/';"
                        class="list-group-item list-group-item-action">Админ-панель (name: admin, pass:
                    admin)
                </button>
            </ul>
        </div>
        <div class="col">
            <div v-if="status === 'Main'">
                <div class="btn-light btn-lg my-1 text-center">
                    {{ elements }}
                </div>
            </div>
            <div v-if="status === 'ArticleList'">
                <div class="btn-light  btn-lg my-1" v-for="element in elements">
                    <div v-on:click="detailArticle(element.url_detail)">
                        <a class="text-primary">Статья № {{ element.id }}.</a>
                        {{ element.title }}
                        <div>Автор(ы):
                            <div v-for="author in element.authors_name">
                                {{ author.first_name }} {{ author.second_name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="status === 'AuthorList'">
                <div class="btn-light btn-lg my-1" v-for="element in elements">
                    <div v-on:click="detailAuthor(element.url_detail)">
                        <a class="text-primary">{{ element.first_name }}
                            {{ element.second_name }}</a>
                    </div>
                </div>
            </div>
            <div v-if="status === 'AuthorDetail'">
                <div class="btn-light btn-lg">
                    <div>
                        Автор: {{ elements.first_name }} {{ elements.second_name }}
                    </div>
                    <br>Статьи:
                    <div v-for="(article, index) in elements.articles_data">
                        <div v-on:click="detailArticle(elements.articles[index])">
                            <a class="text-primary">
                                {{ article.title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="status === 'ArticleDetail'">
                <div class="btn-light btn-lg">
                    {{ elements.title }}<br><br>
                    <p>{{ elements.text }}</p>
                    Автор(ы):
                    <div v-for="author in elements.authors_data">
                        <div v-on:click="detailAuthor(author.url_author)">
                            <a class="text-primary">{{ author.first_name }} {{ author.second_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="status === 'NewArticle'">
                <div class="container">
                    <div class="row pt-1  mb-2">
                        <label class="form-label">
                            <p>Выберите автора(с зажатым ctrl можно выбрать несколько авторов):</p>
                            <select v-model="newArticleAuthor" class="form-select" multiple>
                                <option v-for="element in elements" v-bind:value="element.id">{{ element.first_name }}
                                    {{ element.second_name }}
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="row mt-2">
                        <label class="form-label">
                            <input v-model="newArticleTitle" size="98" placeholder="Введите название статьи"
                                   class="input-lg">
                        </label>
                    </div>
                    <div class="row mt-2">
                        <label class="form-label">
                            <textarea v-model="newArticleText" placeholder="Введите многострочный текст" rows="5"
                                      cols="101"></textarea>
                        </label>
                    </div>
                    <div class="row mt-2 px-2">
                        <button v-on:click="createNewArticle" type="button" class="btn btn-primary px-5">
                            Добавить статью
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-2">
        </div>
    </div>
</div>
{% endverbatim %}
</body>
<script>var csrf = "{{ csrf_token }}"</script>
<script src="static/catalogue_of_articles/index.js"></script>
</html>